{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Order{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="order_no">Order Number</label>
    <input name="order_no" id="order_no" type="text" placeholder=" " value="{{ request.form['order_no'] }}" required>
    <label for="cust_no">Customer Number</label>
    <input name="cust_no" id="cust_no" type="text" placeholder=" " value="{{ request.form['cust_no'] }}" required>
    <label for="sku_1">Product 1</label>
    <input name="sku_1" id="sku_1" type="text" placeholder=" " value="{{ request.form['sku_1'] }}" required>
    <label for="qty_1">qty</label>
    <input name="qty_1" id="qty_1" type="number" placeholder="0" value="{{ request.form['qty_1'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  </form>
{% endblock %}